<?php
# Serveur ou se situe MySQL
$host = "" ;
# Utilisateur de connexion a MySQL
$user = "" ;
# Mot de passe de connexion a MySQL
$passwd = "";
# Sel des mots de passe
$salt = "";
# Airtables - cartes
$airtables_cards = "";
# Airtables - formulaire
$airtables_form = "";
# Box.com - settings
$box_settings = '{
  "boxAppSettings": {
    "clientID": "",
    "clientSecret": "",
    "appAuth": {
      "publicKeyID": "",
      "privateKey": "",
      "passphrase": ""
    }
  },
  "enterpriseID": ""
}';
?>
