body {
    background: #101010 url("/assets/images/public_spectacle.jpg") no-repeat center fixed;
    background-size: cover;
    color: #000;
}

body > div.container {
    background-color: rgba(255,255,255,0.7);
}
