html, body {
    height: 100%;
    background-color: #e9edf4;
}

a {
    color: #3f84fc;
    text-decoration: none;
}

a:hover {
    color: #0458eb;
    text-decoration: none;
}

@media (max-width: 768px) {
    .container-fluid {
        padding: 10px 5px;
    }
}
